body {
    box-sizing: border-box;
    color: black;
    background-color: white;
    margin: 15px;
    padding: 10px;
}

h1 {
    position: relative;
    text-align: center;
}

#dummy-text {
    color: midnightblue;
    background-color: aliceblue;
    border: 2px solid darkslategrey;
}

button {
    color: white;
    background-color: blue;
    width: 50px;
    padding: 5px;
    margin: 10px;
}